@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  background-color: black; /* Add this line */
}

body {
  background-color: black; /* Add this line */
  color: white; /* Optional: for better text visibility */
}
